In [1]:
import pandas as pd

In [2]:
from urllib.request import urlretrieve

In [3]:
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'

urlretrieve(italy_covid_url )

('C:\\Users\\Niloy\\AppData\\Local\\Temp\\tmpbiosbhtq',
 <http.client.HTTPMessage at 0x18791d4e6c8>)

In [5]:
covid_df = pd.read_csv('italy-covid-daywise.csv')

In [6]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

# What are the total number of reported cases and deaths related to Covid-19 in Italy?

In [7]:
total_cases=covid_df.new_cases.sum()

In [13]:
print("the total num of reported new cases is {}".format(int(total_cases)))

the total num of reported new cases is 271515

In [10]:
total_death=covid_df.new_deaths.sum()

In [12]:
print("The Total num of  reported death is {}".format(int(total_death)))

The Total num of  reported death is 35497

What is the overall death rate (ratio of reported deaths to reported cases)?

In [32]:
death_rate=total_death/total_cases

In [36]:
print("Death Rate is {:.2f}%".format(death_rate*100))

Death Rate is 13.07%

Q: What is the overall number of tests conducted? A total of 935310 tests were conducted before daily test numbers were reported

In [37]:
initial_test=935310
overall_num_of_test=initial_test+total_cases

In [38]:
print("overall num of test is {}".format(overall_num_of_test))

overall num of test is 1206825.0

What fraction of tests returned a positive result?

In [41]:
positive_result=total_cases/overall_num_of_test

In [44]:
print("positivity rate is {:.3f} %".format(positive_result*100))

positivity rate is 22.498 %