In [1]:
import numpy as np

In [2]:
arr1=np.array([
    [
        [11,12,13,14],
        [13,14,15,16],
        
    ],
    [
        [15,16,17,21],
        [63,92,36,18]
    ],
    [
        [98,32,81,23],
        [17,18,19.5,43]
    ]
    
])

In [3]:
arr1

array([[[11. , 12. , 13. , 14. ],
        [13. , 14. , 15. , 16. ]],

       [[15. , 16. , 17. , 21. ],
        [63. , 92. , 36. , 18. ]],

       [[98. , 32. , 81. , 23. ],
        [17. , 18. , 19.5, 43. ]]])

In [4]:
arr1.shape

(3, 2, 4)

In [5]:
#now we want to find out 36 from array
#find out simgle element
arr1[1,1,2]

36.0

In [6]:
#find out 16
arr1[0,1,3]

16.0

In [7]:
#using range
#we want to find first element and rest of the element
arr1[1:]

array([[[15. , 16. , 17. , 21. ],
        [63. , 92. , 36. , 18. ]],

       [[98. , 32. , 81. , 23. ],
        [17. , 18. , 19.5, 43. ]]])

In [9]:
#we want to get first element range 0:1  
arr1[1:,0:1]

array([[[15., 16., 17., 21.]],

       [[98., 32., 81., 23.]]])

In [11]:
#find out the value of :2  (0,1) 
arr1[1:,0:1,:2]

array([[[15., 16.]],

       [[98., 32.]]])

In [12]:
#mixing indices and ranges
arr1[1:, 1,3]

array([18., 43.])

In [13]:
arr1[1:,1,:3]

array([[63. , 92. , 36. ],
       [17. , 18. , 19.5]])

In [ ]:
#in ranges dimesion same as before but in indices dimension reduces

In [16]:
np.zeros((3,2))

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [17]:
np.ones([2,2,3])

array([[[1., 1., 1.],
        [1., 1., 1.]],

       [[1., 1., 1.],
        [1., 1., 1.]]])

In [19]:
#given shape array. here 2*3 matrix fill with 42
np.full([2,3],42)

array([[42, 42, 42],
       [42, 42, 42]])

In [20]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [22]:
#rand use uniform distribution
np.random.rand(5,4)

array([[0.40171255, 0.170919  , 0.56548228, 0.433257  ],
       [0.31873643, 0.64213649, 0.00686958, 0.86747966],
       [0.14172237, 0.62217927, 0.60334884, 0.32889821],
       [0.86293683, 0.84197914, 0.91516271, 0.12201706],
       [0.08477639, 0.3611519 , 0.22383425, 0.03308818]])

In [24]:
#radn use normal distribution
np.random.randn(2,3)

array([[0.78576176, 0.60769988, 0.90859565],
       [0.90571152, 1.19439583, 0.09794413]])

In [26]:
#arrange use for step just like for loop range
np.arange(10,90,3)
#value from 10 to 90 and step will be 3 like 10 ,13,16

array([10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49, 52, 55, 58,
       61, 64, 67, 70, 73, 76, 79, 82, 85, 88])

In [27]:
np.arange(10,90,3).reshape(3,3,3)

array([[[10, 13, 16],
        [19, 22, 25],
        [28, 31, 34]],

       [[37, 40, 43],
        [46, 49, 52],
        [55, 58, 61]],

       [[64, 67, 70],
        [73, 76, 79],
        [82, 85, 88]]])

In [28]:

np.linspace(3,27,9)
#here 9 means we want to divide this 3 to 27 in 9 segmant or part

array([ 3.,  6.,  9., 12., 15., 18., 21., 24., 27.])

In [29]:
np.linspace(3,27,3)
#here our segment will be 3

array([ 3., 15., 27.])

In [31]:
np.linspace(3,27,6).reshape(3,2)

array([[ 3. ,  7.8],
       [12.6, 17.4],
       [22.2, 27. ]])