In [25]:
import pandas as pd

In [26]:
from urllib.request import urlretrieve

In [27]:
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'

urlretrieve(italy_covid_url )

('C:\\Users\\Niloy\\AppData\\Local\\Temp\\tmptz63cm0s',
 <http.client.HTTPMessage at 0x20383c15108>)

In [28]:
import pandas as pd

In [33]:
covid_df = pd.read_csv('italy-covid-daywise.csv')

In [31]:
covid_df.shape

(248, 4)

In [34]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [32]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
date          248 non-null object
new_cases     248 non-null float64
new_deaths    248 non-null float64
new_tests     135 non-null float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [23]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [24]:
 covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [35]:
# Pandas format is simliar to this
covid_data_dict = {
    'date':       ['2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03'],
    'new_cases':  [1444, 1365, 996, 975, 1326],
    'new_deaths': [1, 4, 6, 8, 6],
    'new_tests': [53541, 42583, 54395, None, None]
}

In [36]:
covid_data_dict

{'date': ['2020-08-30',
  '2020-08-31',
  '2020-09-01',
  '2020-09-02',
  '2020-09-03'],
 'new_cases': [1444, 1365, 996, 975, 1326],
 'new_deaths': [1, 4, 6, 8, 6],
 'new_tests': [53541, 42583, 54395, None, None]}

In [38]:
covid_data_dict['new_cases']

[1444, 1365, 996, 975, 1326]

In [40]:
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [44]:
covid_df.new_cases

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [43]:
covid_df['new_cases'][246]

975.0

In [42]:
# at function to retrieve rows and columns for a particular value
covid_df.at[246,'new_cases']

975.0

In [45]:
cases_df=covid_df[['date','new_cases']]

In [46]:
cases_df

           date  new_cases
0    2019-12-31        0.0
1    2020-01-01        0.0
2    2020-01-02        0.0
3    2020-01-03        0.0
4    2020-01-04        0.0
..          ...        ...
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

[248 rows x 2 columns]

In [47]:
#to access row we use loc function
covid_df.loc[247]
#we want to find row 247 values

date          2020-09-03
new_cases           1326
new_deaths             6
new_tests            NaN
Name: 247, dtype: object

In [48]:
#first 5 values
covid_df.head(5)

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN
3  2020-01-03        0.0         0.0        NaN
4  2020-01-04        0.0         0.0        NaN

In [49]:
#last 5 values
covid_df.tail(5)

           date  new_cases  new_deaths  new_tests
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

In [51]:
covid_df.at[0,'new_cases']

0.0

In [52]:
covid_df.at[0,'new_tests']
#nan means data missing or not available

nan

In [61]:
#We can find the first index that doesn't contain a NaN value using a column's first_valid_index method.
covid_df['new_tests'].first_valid_index()

111

In [59]:
#Let's look at a few rows before and after this index to verify that the values change from NaN to actual numbers. We can do this by passing a range to loc
covid_df.loc[110:115]

           date  new_cases  new_deaths  new_tests
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
115  2020-04-24     2646.0       464.0    95273.0

In [58]:
#We can use the `.sample` method to retrieve a random sample of rows from the data frame.
covid_df.sample(5)

           date  new_cases  new_deaths  new_tests
216  2020-08-03      238.0         8.0    13467.0
160  2020-06-08      197.0        53.0    16301.0
59   2020-02-28      250.0         5.0        NaN
144  2020-05-23      652.0       130.0    42579.0
85   2020-03-25     5249.0       743.0        NaN
215  2020-08-02      295.0         5.0    24496.0
32   2020-02-01        0.0         0.0        NaN
151  2020-05-30      516.0        87.0    36051.0
156  2020-06-04      321.0        71.0    27451.0
168  2020-06-16      301.0        26.0    27762.0